#canvas {
  height: auto;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dashed black;
}

#rayado-info {
  padding: 8px;
  width: 60%;
  border: 1px dotted black;
}

#rayado {
  height: 150px;
  padding: 6px;
  margin: 4px;
  border: 1px solid black;
}

