form {
  height: 70%;
  width: 35%;
  padding: 12px;
  margin: 6px;
  background-color: var(--complementario);
  border: 1px solid var(--oscuro-xd);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#seleccion {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select {
  width: 45%;
}

input {
  width: 90%;
}

button {
  width: 40%;
  margin: 0 auto;
}