body {
  font-family: system-ui;
}

form {
  width: 50%;
  font-family: consolas;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 14px;
  padding: 12px;
  margin: 6px;
  display: flex;
  flex-direction: column;
}